@model IEnumerable<ModelMulti>

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>User Role</th>
            <th>Admin Assylum</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Person.Name</td>
                <td>@item.Person.LastName</td>
                <td>@item.User.Role</td>
                <td>@item.Admin.IdAssylum</td>
            </tr>
        }
    </tbody>
</table>